*.save
HellhoundVN/log.txt
HellhoundVN/errors.txt
HellhoundVN/traceback.txt
HellhoundVN/game/saves/*
HellhoundVN/tmp/*
HellhoundVN/game/bytecode*
HellhoundVN/game/bytecode.rpyb
HellhoundVN/tmp/navigation.json
Violating Hero/*